<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>First Online Shop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<header>
  <nav class="navbar bg-primary navbar-expand-md">
    <a class="navbar-brand ml-3" href="http://localhost:8000">
      <h1 class="text-light">E-Commerce</h1>
    </a>
    <button id="basket_button" class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#exampleModal">
      Количка
    </button>
  </nav>
</header>

<div class="container">
  <main>
    {% block categories_block %}
    {% endblock %}

    {% block product_block %}
    {% endblock %}

    {% block account_block %}
    {% endblock %}
  </main>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Количка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="dialog_text">Няма продукти.</span>
        <table id="table" class="table" style="display: none">
          <thead>
            <tr>
              <th scope="col">Продукт</th>
              <th scope="col">Количество</th>
              <th scope="col">Цена (общо)</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="product_list">
          <!-- Basket items are inserted here -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button id="clear_basket" type="button" class="btn btn-secondary">Изпразни количката</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
        <button id="makeOrder" type="button" class="btn btn-primary">Поръчай</button>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="{% static 'main.js' %}"></script>

</body>
</html>