{% extends "base.html" %}

{% block categories_block %}
  <h3>Категории</h3>

  {% for category in category_list %}

    {% if category.name %}

      <!-- If this is a first element of a list of it is a root element then start <ul>. -->
      {% if category.name == category.parent_category.child_set.first.name or not category.parent_category %}
        <ul>
      {% endif %}

      <!-- Place the list item itself but don't close the <li>. -->
      <li><a href="{% url 'category_products' category.id %}">{{ category.name }}</a>

      <!-- If this element has no children close the <li> tag. -->
      {% if not category.child_set %}
        </li>
      {% endif %}

    {% elif category == "return" %}
      </ul>

    {% endif %}

  {% endfor %}

{% endblock %}
