{% extends 'base.html' %}
{% block product_block %}

  <h3> {{ category.name }}</h3>
{% for product in product_list %}

    <div class="row">
  <div class="card m-3" style="width: 18rem;">
    {% if product.photo %}
      <img class="card-img-top" src="{{ product.photo.url }}" alt="Product image">
    {% endif %}
    <div class="card-body">
      <h5 id="prodName" class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p id="priceTag"><span id="prodPrice">{{ product.price }}</span> лв.</p>
      <label for="prod{{ product.id }}Qnt">{{ product.measure_type }}</label>
      <input id="prod{{ product.id }}Qnt" class="prodQnt" placeholder="Количество">
      <btn class="btn btn-primary add_basket_act" data-product-id="{{ product.id }}">Добави в количката</btn>
    </div>
  </div>
{% empty %}
    Няма продукти за тази категория.
{% endfor %}
</div>

{% endblock %}